{% extends 'base.html' %}

{% block title %} Brand - Ferrari {% endblock %}

{% block body %}
<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <input type="text" id="searchBox" class="form-control" placeholder="Search for a car..."
                onkeyup="searchCars()">
        </div>
    </div>
</div>


<div class="container py-5">
    <!-- First Car Section -->
    <div class="row align-items-center mb-5">
        <div class="col-md-6 text-center">
            <a href="{{ url_for('Ferrari') }}">
                <img src="{{ url_for('static', filename='images/ferrari_logo.png') }}" class="img-fluid car-image"
                    alt="Ferrari">
            </a>
        </div>
        <div class="col-md-6 text-center">
            <h2 class="brand-title">Ferrari <span class="text-danger">Brand</span></h2>
            <a href="{{ url_for('Ferrari') }}" class="btn btn-outline-light">More Information</a>
        </div>
    </div>

    <hr class="brand-divider">

    <!-- Second Car Section -->
    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-md-2 text-center">
            <a href="{{ url_for('Lamborghini') }}">
                <img src="{{ url_for('static', filename='images/Lamborghini_Logo.png') }}" class="img-fluid car-image"
                    alt="SF90 Spider">
            </a>
        </div>
        <div class="col-md-6 order-md-1 text-center">
            <h2 class="brand-title">Lamborghini <span class="text-danger">Brand</span></h2>
            <a href="{{ url_for('Lamborghini') }}" class="btn btn-outline-light">More Information</a>
        </div>
    </div>

    <hr class="brand-divider">

    <!-- Third Car Section -->
    <div class="row align-items-center mb-5">
        <div class="col-md-6 text-center">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/Porsche_Logo.png') }}" class="img-fluid car-image"
                    alt="SF90 Stradale">
            </a>
        </div>
        <div class="col-md-6 text-center">
            <h2 class="brand-title">Porsche <span class="text-danger">Brand</span></h2>
            <a href="{{ url_for('Porsche') }}" class="btn btn-outline-light">More Information</a>
        </div>
    </div>
    <hr class="brand-divider">
</div>
<style>
    body {
        background-color: #1d1d1b;
        color: white;
    }

    .brand-title {
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 2rem;
    }

    .car-image {
        max-width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;
    }

    .car-image:hover {
        transform: scale(1.05);
    }

    .brand-divider {
        border: 1px solid gray;
        margin: 40px 0;
    }

    .btn-outline-light {
        margin: 10px;
    }
</style>
{% endblock %}