{% extends 'base.html' %}

{% block title %}Ferrari Models{% endblock %}

{% block body %}
<div class="container py-5">
    <h1 class="text-center mb-4">FERRARI</h1>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center mb-4">
            <img src="{{ url_for('static', filename='images/ferrari_J50_2016.png') }}" class="img-fluid car-image">
            <p class="mt-2">Ferrari J50 2016</p>
            <a href="{{ url_for('ferrari_j50') }}" class="btn btn-danger">View Details</a>
        </div>
    </div>

    <hr class="brand-divider">

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center mb-4">
            <img src="{{ url_for('static', filename='images/Ferrari_LaFerrari_Aperta_2016.png') }}"
                class="img-fluid car-image">
            <p class="mt-2">Ferrari LaFerrari Aperta 2016</p>
            <a href="{{ url_for('ferrari_j50') }}" class="btn btn-danger">View Details</a>
        </div>
    </div>

    <hr class="brand-divider">

    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center mb-4">
            <img src="{{ url_for('static', filename='images/Ferrari_LaFerrari_Coupe_2013.png') }}"
                class="img-fluid car-image">
            <p class="mt-2">Ferrari LaFerrari Coupe 2013</p>
            <a href="{{ url_for('ferrari_j50') }}" class="btn btn-danger">View Details</a>
        </div>
    </div>

    <hr class="brand-divider">
</div>
<style>
    body {
        background-color: #000000;
        color: white;
    }

    .btn-danger {
        margin-top: 10px;
        font-weight: bold;
    }

    .btn-danger:hover {
        background-color: #ff0000;
        color: white;
    }
</style>
{% endblock %}