{% extends 'base.html' %}

{% block title %}Ferrari J50 2016{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="car-container">
    <div class="car-image">
        <img src="{{ url_for('static', filename='images/ferrari_J50_side_view.png') }}" alt="Ferrari J50 2016">
    </div>
    <div class="car-info">
        <div class="info-box">
            <h3>ENGINE</h3>
            <p>3.9L Twin-Turbo V8</p>
        </div>
        <div class="info-box">
            <h3>MAX POWER</h3>
            <p>690 HP</p>
        </div>
        <div class="info-box">
            <h3>MAX SPEED</h3>
            <p>335 KM/H</p>
        </div>
        <div class="info-box">
            <h3>0-100 KM/H</h3>
            <p>2.9 S</p>
        </div>
        <div class="config-box">
            <a href="#" class="btn">CONFIGURE YOUR J50</a>
        </div>
    </div>
</div>
{% endblock %}