{% extends 'base.html' %}

{% block title %}Ferrari J50 2016{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="car-container">
    <div class="car-image">
        <img src="{{ url_for('static', filename='images/ferrari_J50_side_view.png') }}" alt="Ferrari J50 2016">
    </div>
    <div class="car-info">
        <div class="info-box">
            <h3>ENGINE TYPE</h3>
            <p>V8 Twin-Turbo</p>
        </div>
        <div class="info-box">
            <h3>ENGINE CAPACITY</h3>
            <p>3.9 liters (3,902 cc)</p>
        </div>
        <div class="info-box">
            <h3>MAX POWER</h3>
            <p>690 HP (at 8,000 RPM)</p>
        </div>
        <div class="info-box">
            <h3>MAX TORQUE</h3>
            <p>700 Nm (at 3,750 RPM)</p>
        </div>
        <div class="info-box">
            <h3>DRIVETRAIN</h3>
            <p>Mid-Engine Layout</p>
        </div>
        <div class="info-box">
            <h3>MAX SPEED</h3>
            <p>335 KM/H</p>
        </div>
        <div class="info-box">
            <h3>0-100 KM/H</h3>
            <p>2.9 S</p>
        </div>
        <div class="config-box">
            <a href="#" class="btn">CONFIGURE YOUR J50</a>
        </div>
    </div>
</div>
{% endblock %}