{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

<div class="profile-container">
    <h1>Welcome, {{ user.username }}</h1>


    <h2>Your Favorite Cars</h2>
    <div class="favorite-cars">
        {% for car in favorites %}
        <div class="car-item">
            <img src="{{car.car_image}}">
            <p>{{ car.car_name }}</p>
            <form action="{{ url_for('remove_favorite') }}" method="POST">
                <input type="hidden" name="car_id" value="{{ car.id }}">
                <button type="submit" class="btn btn-warning">Remove</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}